body {
  font-family: sans-serif;
  font-size: larger;
  padding: 30px;
  background-color: burlywood;
  margin: 0 auto;
}

.header {
  font-family: sans-serif;
  text-align: center;
  font-size: xx-large;
  margin: auto;
}
.showbtn {
  font-family: sans-serif;
  font-size: medium;
  background-color: darkseagreen;
}

.location button {
  display: inline-block;
  margin-right: 10px;
}
